.img_block {
  display: flex;
}

.info_block {
  display: flex;
  flex-direction: column;
}

.btn_back {
  background-color: azure;
  margin-bottom: 7px;
  border-radius: 3px;
}

.icon {
  margin-right: 3px;
}
